/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
}
body {
  color: #444;
  background-color: rgb(17, 17, 17);
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif !important;
}
p {
  margin-bottom: .67em;
}
.logo{
width: 9%;
}

nav, footer {
  background-color: rgb(16, 16, 16);
  -moz-box-shadow: 0px 4px 10px #777777;
  -webkit-box-shadow: 0px 4px 10px #777777;
  box-shadow: 0px 4px 10px #777777;
}
footer {
  text-align: center;
  padding: 1em 0 1em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
nav ul {
  width: 510px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.25em 1em;
  margin: 0 auto;
  font-weight: bold;
}
nav a:link, nav a:visited {
  color: rgb(244, 244, 244);
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: rgb(224, 224, 224);
  text-decoration: underline;
  
}
nav a.active {
  color: rgb(236, 236, 222);
}
/*-- Hero Unit Styles--*/
header {
  margin: 0 auto;
}
header img,figure {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
header h1 {
  display:flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: .25em;
  color:rgb(240, 240, 240);
  background-color: #d02929;
}
.small {
  font-weight: 900;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-variant-caps: all-small-caps;
}
.quote {
  padding: 1.5em;
  background-color: #eae5e5;
  border-radius: 1em;
}

/*-- Body Styles --*/
section {
  display: grid;
  grid-gap: 3.2rem;
  margin: 3rem auto;
}
section.odd {
  grid-template-columns: 1fr;
}
section.even {
  grid-template-columns: 1fr;
}

.glass-outer {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.glass-inner {
  max-width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-images{
  display:block;
  width: 50%;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: 2em auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: small;
  font-weight:500;
  font-family: 'Comic Sans MS', sans-serif;
}
.pagination {
  display: flex;
  margin: 2em auto;
  justify-content: space-between;
  width: 96%;
}
a.button {
  border: 2px solid #c2c2c2;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #c2c2c2;
  border-radius: 300px;
  border-width: 4px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 4px solid #939393;
  text-decoration: none;
  color: #939393;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
